body {
  margin: 0;
  
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
  background-position: center center;
  background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
opacity: 1;
z-index: 1;
position:relative;
}
button
{
  cursor: pointer;
}

.greys
{
  background: radial-gradient(circle, rgb(43, 43, 43) 0%, rgb(201, 114, 0) 100%);
  border-radius: 5px;
}
.center-screen {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
